@use '../../../abstracts' as helper;

.results {
  display: grid;
  gap: var(--spacer-2);

  &__list {
    display: grid;
    gap: var(--spacer-5);
  }
}

.titles, .people, .companies, .keywords {
  display: grid;
  gap: var(--spacer-2);

  &__list {
    padding: var(--spacer-2);
    display: grid;
    gap: var(--spacer-4);
    // justify-self: start;


  }
}

.button {

  --text: var(--clr-text-muted);

  padding: var(--spacer-0) var(--spacer-0);
  font: inherit;
  font-size: var(--fs-5);

  background: transparent;
  color: var(--text);
  border: 2px solid currentColor;
  border-radius: 5px;
  cursor: pointer;
}
